# Copy to .env and fill in. .env is gitignored.
GRAFANA_CLOUD_FM_USERNAME=
GRAFANA_CLOUD_FM_PASSWORD=
GRAFANA_CLOUD_FM_URL=https://fleet-management-prod-011.grafana.net
GRAFANA_CLOUD_CLUSTER_NAME=webinar-demo

# Synthetic Monitoring private probe
SM_API_TOKEN=
SM_API_SERVER=synthetic-monitoring-grpc-eu-west-2.grafana.net:443
